<section class="container">
   <div class="oe_row oe_spaced" >
        <h2 class="oe_slogan" >Manage Sale Promotions in Odoo</h2>
        	<h3 class="oe_slogan oe_mb32">Power Promotions with ease in Odoo</h3>
        
            <p class="oe_mt16" style="line-height: 190%;">
            	Customers love discount coupons! One of the most important Sales strategy is to incentivize hesitant shoppers with promotional offers so that they turn into your customers and your customers turn into your repeat customers. Using Odoo Promotions, you can easily manage offering attractive discount coupons to your customers. Using this application, you can customize discount offers in more ways than you can imagine!</p>
                
    </div>
</section>

<section class="container">
    <div class="oe_row oe_spaced" style="width:45%;">
           <a style="color:white;font-size:28px;font-family: &quot;Lato&quot;, &quot;Open Sans&quot;, &quot;Helvetica&quot;, Sans;font-weight: bold;word-spacing: 2px;" href="http://www.emiprotechnologies.com/free-trial?app=promotion-ept&version=10" target="_blank"> <div class="contct_us_btn" style="padding:23px;margin: 0 auto;display: block;background-color: #8F3F79;text-align: center;font-weight: bold;box-shadow: 2px 1px 12px 3px #ece6e6;">
            	Request a Free Demo<div></div>
            </div></a>
    </div>
</section>


<section class="container">
    <div class="oe_row oe_spaced" >
        <h2 class="oe_slogan" >User-friendly, Attractive & delightful Interface.</h2>
        	<div class="oe_mt32" >
	            <img class="img img-responsive" src="DashBord.png" />
	        </div>
	      
    </div>
</section>



<section class="container">
    <div class="oe_row oe_spaced" >
        <h3 class="oe_slogan" >How to Setup Promotion in Odoo ?</h3>
        	<div class="oe_mt32">
        		<img class="img img-responsive" src="Setup_Promotion.jpg" />
	        </div>
	        
    </div>
</section>


<section class="container">
    <div class="oe_row oe_spaced" >
               	<div class="oe_mt32">
	            <img class="img img-responsive" src="Promotion_Level_.jpg" />
	        </div>
    </div>
</section>



<section class="container">
    <div class="oe_row oe_spaced" >
        <h3 class="oe_slogan">Promotion Types</h3>
        	<div class="oe_mt32" >
	            <img class="img img-responsive" src="Promotion_Level.jpg" />
	        </div>
    </div>
</section>



<section class="container">
    <div class="oe_row oe_spaced" >
        <h2 class="oe_slogan" >Highlighting Features</h2>
        	<ul class="oe_mt32">
	            <li style="padding-right: 30px; padding-bottom: 10px;"><p>Set Promotion Duration by specifying start and end dates.</p></li>
				<li style="padding-right: 30px; padding-bottom: 10px;"><p>Set overall promotion budget and specify maximum discount amount per sale.</p>
				<li style="padding-right: 30px; padding-bottom: 10px;"><p>Auto Generate Promotion Codes or use your own code.</p>
                <li style="padding-right: 30px; padding-bottom: 10px;"><p>Set minimum order amount or quantity of items in an order for promotion to be applicable.</p>
                <li style="padding-right: 30px; padding-bottom: 10px;"><p>Set usage restrictions by configuring total number of times a coupon can be used and maximum number of times a customer can use a coupon.</p>
                <li style="padding-right: 30px; padding-bottom: 10px;"><p>Configure promotions to make them available for specific customers or customer groups.</p>

	        </ul>
    </div>
</section>



<section class="container">
    <div class="oe_row oe_spaced" >
        <h3 class="oe_slogan" >Advance Promotion Configuration In Odoo</h3>
        	<div class="oe_mt32" >
	            <img class="img img-responsive"  src="Promotion_Configuration.png" />
	        </div>

		<div class="oe_mt32" >
	            <li style="padding-right: 30px; margin-top:30px; margin-left: 20px;line-height: 190%; ">Promotion Product:  Promotion in Odoo will be assigned to at least one product. So here at Sales setting, you can set generic product which will be assigned by default to any promotion. Although you can manually select other product in Promotion in the case of Show Promotion Product option is selected in Sales Setting.
		    <li style="padding-right: 30px; margin-top:30px; margin-left: 20px;line-height: 190%; ">Product Category:  You can set specific Internal Category for any Promotion product that can be helpful for separating promotional expense to particular specific accounts. This category will be applied to all the promotional products.

		    <li style="padding-right: 30px; margin-top:30px; margin-left: 20px;line-height: 190%; ">Create Promotion:  By selecting this option, you will able to see "Promotion Product" menu under "Sales >> Promotion". You can create Promotion kind of products here and set separate income & expense accounts in case of separating expense cost in Accounting. These Promotional products can be available to select in Promotion records.
	        </div>
    </div>
</section>


<section class="container">
    <div class="oe_row oe_spaced" style='padding-top:20px;'>
               	<div class="oe_mt32" >
	            <img class="img img-responsive" src="Promotion_Configuration_01.png"/>
	        </div>
    </div>
</section>


<section class="container">
    <div class="oe_row oe_spaced" style='padding-top:20px;' >
               	<div class="oe_mt32" >
	            <img class="img img-responsive" src="Promotion_Configuration_02.png" />
	        </div>
    </div>
</section>


<section class="container">
    <div class="oe_row oe_spaced" style='padding-top:20px;' >
	<h3 class="oe_slogan">Set Specific Duration in which Promo can be Applicable</h3>
             	<div class="oe_mt32" >
	            <img class="img img-responsive" src="Promotion_Configuration_03.png" />
	        </div>
    </div>
</section>


<section class="container">
    <div class="oe_row oe_spaced" >
        <h3 class="oe_slogan">Set Promotions to be Applicable for Specific Customer/Customer Groups</h3>
        	<div class="oe_mt32" >
	            <img class="img img-responsive" src="Promotion_Configuration_04.png" />
	        </div>
    </div>
</section>


<section class="container">
    <div class="oe_row oe_spaced" >
        <h3 class="oe_slogan">Set Promotions to be Applicable for Specific Geographical Area</h3>
        	<div class="oe_mt32" >
	            <img class="img img-responsive" src="Promotion_Configuration_06.png" />
	        </div>
    </div>
</section>

<section class="container">
    <div class="oe_row oe_spaced" >
        <h3 class="oe_slogan">BOGO Promotion Configuration</h3>
        	<div class="oe_mt32" >
	            <img class="img img-responsive" src="Promotion_Configuration_07.png" />
	        </div>
    </div>
</section>


<section class="container">
    <div class="oe_row oe_spaced" >
        <h3 class="oe_slogan">Promotion will be Calculated based on Other Promotion + Extra Condition</h3>
        	<div class="oe_mt32" >
	            <img class="img img-responsive" src="Promotion_Configuration_05.png" />
	        </div>
    </div>
</section>


<section class="container">
    <div class="oe_row oe_spaced" >
        <h3 class="oe_slogan">Create & Print Bar-code/PDF for Promotion</h3>
        	<div class="oe_mt32" >
	            <img class="img img-responsive" src="Promotion_Configuration_011.png" />
	        </div>
    </div>
</section>

<section class="container">
    <div class="oe_row oe_spaced" >
        <h3 class="oe_slogan">Share Promo Code with your Customers via email</h3>
        	<div class="oe_mt32" >
	            <img class="img img-responsive" src="Promotion_Configuration_09.png" /> 
	        </div>
    </div>
</section>

<section class="container">
    <div class="oe_row oe_spaced" >
        <h3 class="oe_slogan">Extend validity of promotion even after you have approved it!</h3>
        	<div class="oe_mt32" >
	            <img class="img img-responsive" src="Promotion_Configuration_010.png" /> 
	        </div>
    </div>
</section>

<section class="container">
    <div class="oe_row oe_spaced" >
        <h3 class="oe_slogan">Apply Promotion Code In Quotation</h3>
        	<div class="oe_mt32" >
	            <img class="img img-responsive" src="Promotion_Configuration_012.png" /> 
	        </div>
    </div>
</section>


<div class="oe_row oe_spaced">      	
        	<h2 class="oe_slogan">You may also like</h2>
        	<div style="max-width:1000px;width: auto;margin: 0 auto;display:block">
				<div class="col-xs-6 mt16">
					 <a href="https://apps.odoo.com/apps/modules/11.0/ecommerce_variant_list_price_editable/" target="_blank"><img class="img img-responsive" src="product_varaint_main.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:right;"></a>
				</div>
				
				<div class="col-xs-6 mt16">
					 <a href="https://apps.odoo.com/apps/modules/11.0/seo_suite_odoo_ecommerce/" target="_blank"><img class="img img-responsive" src="Seo_odoo_store_covor.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:right;"></a>
				</div>
					
				<div class="col-xs-6 mt16">
					 <a href="https://apps.odoo.com/apps/modules/11.0/ecommerce_promotion_ept/" target="_blank"><img class="img img-responsive" src="coupan_main.jpeg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:right;"></a>
				</div>
				
					<div class="col-xs-6 mt16">
					 <a href="https://apps.odoo.com/apps/modules/11.0/fabula_livechat/" target="_blank"><img class="img img-responsive" src="fabula_Live_Chat.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:left;"></a>
				</div>
				
				<div class="col-xs-6 mt16">
					 <a href="https://apps.odoo.com/apps/modules/10.0/ecommerce_category_attribute_ept/" target="_blank"><img class="img img-responsive" src="category_att_main.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:right;"></a>
				</div>
				
					<div class="col-xs-6 mt16">
					 <a href="https://apps.odoo.com/apps/modules/10.0/bellus_shopmylook/" target="_blank"><img class="img img-responsive" src="bellus.jpg" style="box-shadow:unset;max-height: unset;max-width: 100%;width: auto;float:left;"></a>
				</div>
				
						
			</div>
			
</div>




<section class="container">
    <div class="oe_row oe_spaced" style="width:100%;margin-top: 30px;">
            <div class="contct_us_btn" style="padding:7px;margin: 0 auto;display: block;width: 20%;background-color: #087dda;text-align: center;">
            	<a style="color:white;font-size:20px;" href="http://www.emiprotechnologies.com/odoo-apps-support" target="_blank">Get Support</a>
            </div>
    </div>
</section>



</section>
